/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

body {

    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    background-color: #eeeeee;
    color: #014c75
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #014c75
}

a:visited {
    color: navy;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    color: lightpink
}

button {
    border: none;
    font-family: inherit;
    background-color: blue;
    color: #eeeeee;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid color rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: #e0b354;
    color: #eeeeee;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.page-header__item :last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid__item {
    background-color: lightblue;
    padding: 10px;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }
}

@media all and (min-width: 500px) and(max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }

    @media all and (max-width: 750px) {
        .grid {
            grid-gap: 10px
        }
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: #eeeeee;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: #eeeeee;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}


button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: red;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: red;
    }
}

.sun {

    -webkit-animation: 10s color-change infinite alternate linear;

    animation: 10s color-change infinite alternate linear;

}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 50s cloud-move infinite alternate linear;
    animation: 50s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 35s cloud-move-reverse infinite alternate linear;
    animation: 35s cloud-move-reverse infinite alternate linear;
}